# --- Java & Maven ---
target/
*.class
*.jar
*.war
*.ear
.mvn/
mvnw
mvnw.cmd

# --- IntelliJ IDEA ---
.idea/
*.iml
out/
gen/
.metadata/

# --- Frontend (React) ---
# Игнорируем саму папку с библиотеками (те самые 4000+ файлов)
frontend/node_modules/
# Игнорируем папку сборки
frontend/dist/
# Локальные переменные окружения
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
# Логи ошибок npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- System Files ---
.DS_Store
Thumbs.db
.github/